
<html>
	<head>
		<title>My TITTLE</title>
	</head>

	<body>
		<p>here starts the body of the code</p>
		<p>hi there</p>
		<p>it works</p>
		<p></p>
		<h1>THis is head h1</h1>
        <h2>this is head h2</h2>
        <h3>this is head h3</h3>
        <em>this is text em emphasized</em>
        <strong>this is text strong</strong>
        <br>
        <a href="https://djangogirls.org">link</a>
        <ul><li>first item of list</li><li>second item of list</li></ul>
        <div></div>
	</body>
</html>